div {
	margin: 1.5rem;
}

.Notifications {
	border: 1px red dashed;
	padding: 10px;
	margin: 0;
}

.Notifications li, p {
	font-size: 18px;
}

li[data-priority="default"] {
	color: #1D0563;
}

li[data-priority="urgent"] {
	color: red;
}
