
.App-header:after {
  content: "";
  display: table;
  clear: both;
}

.dash {
  line-height: 300px;
}

.dash h1 {
  color: #E0354B;
  font-size: 50px;
  font-family: 'Arial';
}

.column {
  float: left;
  width: 25%;
}

.App-body {
  border-top: solid #E0354B;
  border-bottom: solid #E0354B;
  font-size: 24px;
  padding: 50px 0px 350px 50px;
}

.App-footer {
  text-align: center;
  font-style: italic;
  font-size: 24px;
  font-family: 'Arial';
}




/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/